
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
     body {
         background-color: #E460EA;
     }
     h1 {
         background-color: #E8EA60;
     }
     p {
         background-color: #FFFFFF);
     }
  </style>

  <body>
   <center>
    <div id="root">

     <% include templates/navigation.ejs%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     My name is <p><%= name%></p>


       <% sd.forEach(function(item)
       {%>
        <li>Color is: <%=item.color%>. Value is: <%=item.value%> </li>
        <%});%>
  </div>
     </center>
       <li> Above are JSON objects stored in json file. </li>
      <li> JSON is stands for JavaScript Object Notation which is a format for storing and transporting data. </li>
      <li> Uses human text to transfer/transport data objects </li>

        <ul>
        <% for(var i=0; i<5; i++){%>
        <li>hi</li>
            <%}%>
        </ul>
  </body>
</html>



